<h1>5C - Bleeding Control / Shock Management</h1>

<%= form_tag student_practical_exams_path(@practical_exam.student) do %>
  <% @practical_exam.practical_skills.each do |practical_skill| %>
    <%= fields_for 'practical_skills[]', practical_skill do |p| %>
      <div class="row">
        <div class="eight columns"><%= practical_skill.text %></div>
        <% if practical_skill.critical %>
          <div class="field">
            <div class="two columns"><b>C</b></div>
            <div class="two columns"><%= p.check_box :critical_passed %></div>
          </div>
        <% else %>
          <div class="field">
            <div class="two columns"><%= practical_skill.points_possible %></div>
            <div class="two columns"><%= p.text_field :points_earned, size: '1' %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <div class="row">
      <div class="four columns"><%= submit_tag %></div>
    </div>
  </div>
<% end %>

